@import '/src/variables/variables.scss';
@import '/src/assets/fonts/neonize/fonts.scss';

@media only screen and ( max-width: $breakHeaderDeskToTablet ) {
  .logotype {
    &::after {
      display: none;
    } 
    
    &::before {
      display: initial;
    }
  }
}

@media only screen and ( min-width: $breakHeaderDeskToTablet ) {
  .logotype {
    &::before {
      display: none;
    } 
    
    &::after {
      display: initial;
    }
  }
}

@media only screen and ( max-width: $breakLogoShrinks ) {
  .logotype:after {
    content: 'dmts';
  }
}

@media only screen and ( min-width: $breakLogoShrinks ) {
  .logotype:after {
    content: 'daomatys';
  }
}

.logotype {
  font-family: Neonize;
  font-size: var(--fontsize-h1);
  color: $hue_title-light;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: 'daomatys';
  }
}
