@import '/src/variables/variables.scss';
@import '/src/styles/__text/styles__text.scss';

.roadmap-sample {
  display: flex;
  
  &__container {
    &-left {
      display: flex;
      margin-left: 24px;
      margin-right: 14px;
      width: 100px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__time-stamp,
  &__text,
  &__title {
    @extend %styles__text_body;
    color: $hue_text-light;
  }
}