footer.app-footer
  .app-footer__section_upper
    img.app-footer__forest( src="../../assets/forest.svg" )
  .app-footer__section_lower
    .app-footer__proposal ...so call me, maybe ?
    .app-footer__social-icons
      ng-container( *ngFor="let socialIcon of socialIcons" )
        app-social-icon( [socialIcon]="socialIcon" )
