- const items = [ 'faPhoneSquare', 'faEnvelopeSquare', 'faGithub', 'faTelegram' ]

footer.app-footer
  .app-footer__proposal ...so call me, maybe ?
  .app-footer__social-icons
    each item in items
      fa-icon( [icon]=item )
