@import '/src/variables/variables.scss';
@import '/src/styles/__text/styles__text.scss';
@import '/src/styles/__structures/styles__structures.scss';

@media only screen and ( max-width: $breakFooterMin ) {
  .footer__proposal {
    display: none;
  }
}

@media only screen and ( max-width: $breakHeaderDeskToTablet ) {
  .footer__red-eyes {
    display: none;
  }
}

@media only screen and ( max-width: $breakFooterAndResume ) {
  .footer {
    @include tabletOrientation;
  }
}
@media only screen and ( min-width: $breakFooterAndResume ) {
  .footer {
    @include desktopOrientation;
  }
}

.footer {
  @extend %styles__text_h2;
  @extend %structures__padding;
  @extend %structures__header-n-footer;
  color: $hue_title-light;

  &__social-icons {
    display: flex;
    gap: 20px;
  }

  &__red-eyes {
    height: 32px;
  }
}
