footer.app-footer
  .app-footer__proposal ...so call me, maybe ?
  .app-footer__social-icons
    fa-icon( [icon]='faPhoneSquare' )
    fa-icon( [icon]='faEnvelopeSquare' )
    fa-icon( [icon]='faGithub' )
    fa-icon( [icon]='faTelegram' )
