@import '/src/variables/variables.scss';
@import '/src/styles/__text/_h1/styles__text_h1.scss';

.app-footer {
  height: 150px;
  background-color: $hue_main-dark;
  color: $hue_title-light;

  &__proposal {
    @extend %text-style_h1;
  }

  &__social-icons {
    display: flex;
    font-size: 2.25rem;
    gap: 20px;
  }
}
