footer.app-footer
  .app-footer__image
    img( src='./__image/footer__image.svg' )
  .app-footer__content
    .app-footer__proposal ...so call me, maybe ?
    .app-footer__social-icons
      ng-container( *ngFor="let socialIcon of socialIcons" )
        app-social-icon( [socialIcon]="socialIcon" )
