@import '/src/variables/variables.scss';
@import '/src/assets/fonts/neonize/fonts.scss';

.app-header {
  height: 128px;
  background-color: $color_primary;

  &__navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
  }
}