@import '/src/variables/variables.scss';
@import '/src/styles/__structures/styles__structures.scss';

$headerInnerGap: 20px;

@media only screen and ( max-width: $breakHeaderMin ) {
  .header__navbar {
    @include tabletOrientation;
    align-items: center;
    margin-top: 16px;
  }
}

@media only screen and ( max-width: $breakHeaderDeskToTablet ) {
  .header {
    @include tabletOrientation;
  }
}
@media only screen and ( min-width: $breakHeaderDeskToTablet ) {
  .header {
    @include desktopOrientation;
  }
}

@media only screen and ( max-width: $breakLogoShrinks ) {
  .header__navbar {
    width: auto;
  }
}
@media only screen and ( min-width: $breakLogoShrinks ) and ( max-width: $breakAppUpscale ) {
  .header__navbar {
    width: 41vw;
    margin-left: $headerInnerGap;
  }
}

@media only screen and ( min-width: $breakAppUpscale ) {
  .header__navbar {
    width: 656px;
    margin-left: $headerInnerGap;
  }
}

.header {
  @extend %structures__header-n-footer;
  @extend %structures__padding;

  &__navbar {
    display: flex;
    justify-content: space-between;
    gap: $headerInnerGap;
  }
}
