//base palette: https://colorscheme.ru/#3b320sTe1w0w0
$deep-teal: #074839;
$deep-teal-shade_light:  #064033;
$deep-teal-shade_normal: #03241C;
$deep-teal-shade_dark:   #000705;

$sisal: #c7bb9e;
$corn-harvest: #8F773D;

$pohutukawa: #640A25;
$rustic-red: #410316;


//project colors map
$hue_main-light: $deep-teal;
$hue_main-dark:  $deep-teal-shade_dark;

$hue_title-light: $corn-harvest;
$hue_title-light-alt: $deep-teal-shade_normal;
$hue_title-dark: $deep-teal-shade_dark;

$hue_link-active: $deep-teal-shade_dark;
$hue_link-dark: $deep-teal-shade_normal;

$hue_text-light: $sisal;


//gradients
@function defineGradient( $primary, $secondary ) {
  @return linear-gradient(180deg, $primary 0%, $secondary 100%);
}
$gradient_primary: defineGradient( $hue_main-light, $hue_main-dark );
