//base palette: https://colorscheme.ru/#3b320sTe1w0w0
$deep-teal: #074839;
$corn-harvest: #8F773D;
$pohutukawa: #640A25;
$black-green: #000705;

$dark-green: #022F25;
$parchment: #D1C7B0;
$rustic-red: #410316;
$royal-heath:#B15974;

//project colors map
$hue_main-light: $deep-teal;
$hue_main-dark: $black-green;

$hue_title-light: $corn-harvest;
$hue_title-light-alt: $dark-green;
$hue_title-dark: $black-green;

$hue_link-active: $rustic-red;
$hue_link-dark: $black-green;

$hue_text-light: $parchment;

//gradients
@function defineGradient( $primary, $secondary ) {
  @return linear-gradient(180deg, $primary 0%, $secondary 100%);
}
$gradient_primary: defineGradient( $hue_main-light, $hue_main-dark );

//miscfunctions
@function calcRelativeFontSize( $value ) {
  @return #{$value / 16}rem;
}
