@import '/src/variables/variables.scss';
@import '/src/assets/fonts/razer-blackwidow/fonts.scss';

.app-link {
  font-family: Razer-Blackwidow-Regular;
  font-size: calcRelativeFontSize( 36 );
  color: $color_black;
  text-decoration: none;
}
