@import '/src/variables/variables.scss';
@import '/src/styles/__text/styles__text.scss';

.app-link {
  @extend %styles__text_h2;
  color: $hue_title-dark;
  text-decoration: none;
  transition: color .3s ease;

  &:hover {
    color: $hue_link-hover;
  }
}
