@import '/src/variables/variables.scss';
@import '/src/styles/__text/styles__text.scss';

.link {
  @extend %styles__text_h2;
  color: $hue_link-dark;
  text-decoration: none;
  transition: color .3s ease;

  &:hover,
  &_active {
    color: $hue_link-active;
  }

  &_active {
    pointer-events: none;
  }
}
