.resume
  ng-container( *ngFor="let block of resumeBlocks" )
    .resume__block-info
      span.resume__title {{block.title}}
      ng-container( *ngFor="let text of block.texts" )
        span.resume__text {{text}}
  .resume__block-info
    span.resume__title education
    span.resume__text 2013—2014 / Tomsk State University of Control Systems and Radioelectronics, incomplete
    span.resume__text 2011—2013 / 198 Seversk School / Secondary school 
    span.resume__text 2002—2011 / 198 Seversk School / Basic general education
