.resume
  ng-container( *ngFor="let block of resumeBlocks" )
    .resume__block-info
      span.resume__title {{block.title}}
      ng-container( *ngFor="let text of block.texts" )
        span.resume__text {{text}}