@import '/src/styles/__text/styles__text.scss';
@import '/src/variables/variables.scss';

.resume {
  display: flex;
  flex-direction: column;
  gap: 48px;

  &__block {
    &-title {
      @extend %styles__text_h1;
      color: $hue_title-light;
      width: 100%;
      text-align: center;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__subtitle {
    @extend %styles__text_h2;
    color: $hue_title-light-alt;
  }

  &__subtext {
    @extend %styles__text_body;
    color: $hue_text-light;
    margin-left: 24px;
  }

  &_photo {

  }
}