.resume
  .resume__info_general
    .resume__info-block
      span.resume__title status
      span.resume__text junior front-end developer
    .resume__info-block
      span.resume__title communication languages
      span.resume__text russian / native
      span.resume__text english / upper-intermediate
    .resume__info-block
      span.resume__title programming languages
      span.resume__text javascript / typescript
  .resume__photo
  .resume__info_additional 
