@import '/src/styles/__text/styles__text.scss';
@import '/src/variables/variables.scss';

.resume {
  &__info {

    &-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &_general {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &_additional {

    }
  }

  &__title {
    @extend %styles__text_h2;
    color: $hue_title-light-alt;
  }

  &__text {
    font-family: Razer-Blackwidow-Regular;
    color: $hue_text-light;
    margin-left: 24px;
  }

  &_photo {

  }
}