.resume
  ng-container( *ngFor="let section of resumeSections" )
    span.resume__block-title {{section.title}}
    ng-container( *ngFor="let block of section.blocks" )
      .resume__block-info
        span.resume__subtitle {{block.subtitle}}
        ng-container( *ngFor="let subtext of block.subtexts" )
          span.resume__subtext {{subtext}}
  .resume__block-info
    span.resume__subtitle education
    span.resume__subtext 2013—2014 / Tomsk State University of Control Systems and Radioelectronics, incomplete
    span.resume__subtext 2011—2013 / 198 Seversk School / Secondary school 
    span.resume__subtext 2002—2011 / 198 Seversk School / Basic general education
