@import '/src/variables/variables.scss';
@import '/src/styles/__text/styles__text.scss';

.presentation-unit {
  position: relative;

  &,
  &__layer_front {
    display: flex;
    justify-content: center;
  }

  &,
  &__image,
  &__shadow-mask,
  &__layer_front {
    width: 100%;
    height: 100%;
  }

  &__image,
  &__layer_front,
  &__layer_back {
    border-radius: 50%;
  }

  &__layer {
    &_back {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_front {
      position: absolute;
      flex-direction: column;
      align-items: center;
      gap: 10%;
      opacity: 0;
      transition: opacity .8s ease;
      backdrop-filter: blur(14px) saturate(110%) sepia(20%);
      color: $hue_title-light;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__image {
    object-fit: cover;
  }

  &__shadow-mask {
    position: absolute;
    top: 0px;
    border-radius: 50%;
    box-shadow: inset 3px 3px 16px 0px $hue_main-dark;
  }

  &__text,
  &__title {
    text-shadow: 2px 2px 2px $hue_main-dark;
  }

  &__title {
    @extend %styles__text_h3;
  }

  &__text {
    @extend %styles__text_body;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: $hue_main-light;
    font-size: 3rem;
    background-clip: border-box;
  }
}
