@import '/src/variables/variables.scss';

$roadmapGap: 32px;

.roadmap {
  position: relative;

  &__pillar {
    position: absolute;
    border-radius: 5px;
    width: 12px;
    height: calc(100% - $roadmapGap);
    background-color: $hue_title-light-alt;
  }

  &__samples {
    display: flex;
    flex-direction: column;
    gap: $roadmapGap;
  }
}
