@import '/src/variables/variables.scss';

app-main,
app-header,
app-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

app-main,
app-header {
  background-color: $hue_main-light;
}

app-footer {
  background-color: $hue_main-dark;
}
