@import '/src/variables/variables.scss';

app {
  &-header,
  &-main,
  &-footer__section_lower {
    padding-inline: 9%;
    width: 82%;
  }
  
  &-header,
  &-footer__section_lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-main {
    background-color: $hue_main-light;
    padding-block: 20px;
  }
}
