@import '/src/variables/variables.scss';

$percent: .82;
$structureWidth: percentage( $percent );
$structurePaddingInline: percentage( ( 1 - $percent ) / 2 );

%structures__padding {
  padding-inline: $structurePaddingInline;
  width: $structureWidth;
  max-width: calc( $breakAppUpscale * $percent );
}

%structures__header-n-footer {
  display: flex;
  align-items: center;
  padding-block: 64px;
}

@mixin tabletOrientation {
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

@mixin desktopOrientation {
  justify-content: space-between;
}
