%structures__padding {
  padding-inline: 9%;
  width: 82%;
}

%structures__header-n-footer {
  display: flex;
  align-items: center;
  padding-block: 64px;
  max-width: 1600px;
}

@mixin tabletOrientation {
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

@mixin desktopOrientation {
  justify-content: space-between;
}
