.roadmap-sample
  .roadmap-sample__container-left
    .roadmap-sample__time-stamp
    .roadmap-sample__red-pillar
  .roadmap-sample__container-right
    .roadmap-sample__title
    .roadmap-sample__text