ng-container( *ngFor="let sample of samples" )
  .roadmap-sample
    .roadmap-sample__container-left
      .roadmap-sample__time-stamp{{sample.timestamp}}
      .roadmap-sample__red-pillar
    .roadmap-sample__container-right
      .roadmap-sample__title{{sample.title}}
      .roadmap-sample__text{{sample.text}}
