@import '/src/variables/variables.scss';
@import '/src/assets/fonts/razer-blackwidow/fonts.scss';

%styles__text {
  &_h1,
  &_h2,
  &_h3,
  &_body {
    font-family: Razer-Blackwidow-Regular;
    text-transform: lowercase;
  }

  &_h1 {
    font-size: var(--fontsize-h1);
    line-height: var(--fontsize-h1);
  }

  &_h2 {
    font-size: var(--fontsize-h2);
    line-height: var(--fontsize-h2);
  }

  &_h3 {
    font-size: var(--fontsize-h3);
    line-height: var(--fontsize-h3);
  }

  &_body {
    font-size: var(--fontsize-body);
    line-height: var(--fontsize-body);
  }
}
