@import '/src/variables/variables.scss';
@import '/src/assets/fonts/razer-blackwidow/fonts.scss';

%styles__text {
  &_h1,
  &_h2,
  &_h3,
  &_body {
    font-family: Razer-Blackwidow-Regular;
    text-transform: lowercase;
  }

  &_h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  &_h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  &_h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  &_body {
    font-size: 1rem;
    line-height: 1rem;
  }
}
