@import '/src/variables/variables.scss';
@import '/src/styles/__structures/styles__structures.scss';

main {
  @extend %structures__padding;
  display: flex;
  background-color: $hue_main-light;
  padding-block: 5px;
  height: auto;
  min-height: 0px;
  max-height: 2000px;
  transition: height 1s ease;
}
