@import '/src/variables/variables.scss';
@import '/src/styles/__structures/styles__structures.scss';

.main {
  flex-direction: column;
  align-items: center;
  background-color: $hue_main-light;

  &,
  &__content {
    display: flex;
  }

  &,
  &__image {
    width: 100%;
  }

  &__content {
    @extend %structures__padding;
    justify-content: center;
    padding-block: 5px;
  }

  &__image {
    display: block;
    pointer-events: none;
  }
}
