@import '/src/variables/variables.scss';

body {
  margin: 0;
}

header,
main,
.app-footer__section_lower {
  padding-inline: 9%;
  width: 82%;
}

header,
.app-footer__section_lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  background-image: $gradient_primary;
  height: 100vh;
  padding-top: 20px
}
